* {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#fff
}


html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #111;
}
