#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.card {
  padding: 2em;
  background-color: #ff69b4;
  border-radius: 16px;
  color: white;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.card h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

.card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.card small {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
