* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
#root {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.card {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;

}